/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


*{
  padding: 0;
  margin: 0;
  
}
.container{
  width: 100%;
  height: 100vh;
  background-color: yellow;
}
.container h1{
  padding-top: 15px;
  display: flex;
  justify-content: center;
}
.sec-Container{
  height: 20%;
}
.leftContainer{
  display: flex;
  align-items:flex-start;
}
.leftContainer .input-group{
  margin: 35px 10px;
}
.verticalLine {
  border-right: 1px solid sandybrown;
  height: 500px;
}
.rightContainer .col-auto{
  display: flex;
  justify-content: center;
}
.rightContainer .input-group{
  width:20rem;
}
.rightContainer h5{
  justify-content: center;
}